# Question1 Part2

- For each borough, find out distribution of each collision scale. (One car involved? Two? Three? or more?)

In [42]:
import pandas as pd
import datetime
import csv
import calendar

In [55]:
df = pd.read_csv("vehicle_collisions.csv",usecols=["BOROUGH", "VEHICLE 1 TYPE", "VEHICLE 2 TYPE","VEHICLE 3 TYPE","VEHICLE 4 TYPE","VEHICLE 5 TYPE"])
df['ONE_VEHICLE_INVOLVED']=df['VEHICLE 1 TYPE'].notnull().astype('int') #removing not involved values
df['TWO_VEHICLE_INVOLVED']=df['VEHICLE 2 TYPE'].notnull().astype('int')
df['THREE_VEHICLE_INVOLVED']=df['VEHICLE 3 TYPE'].notnull().astype('int')
df['FOUR_VEHICLE_INVOLVED']=df['VEHICLE 4 TYPE'].notnull().astype('int')
df['FIVE_VEHICLE_INVOLVED']=df['VEHICLE 5 TYPE'].notnull().astype('int')
df=df.groupby('BOROUGH').sum() #groupbing the data with location and taking sum

df['MORE_VEHICLE_INVOLVED']=df['FOUR_VEHICLE_INVOLVED']+df['FIVE_VEHICLE_INVOLVED'] #more vehicles involved


df['ONE_VEHICLE_INVOLVED']=df['ONE_VEHICLE_INVOLVED']-df['MORE_VEHICLE_INVOLVED'] # removing more vehicles involved
df['TWO_VEHICLE_INVOLVED']=df['TWO_VEHICLE_INVOLVED']-df['MORE_VEHICLE_INVOLVED']
df['THREE_VEHICLE_INVOLVED']=df['THREE_VEHICLE_INVOLVED']-df['MORE_VEHICLE_INVOLVED']

df['ONE_VEHICLE_INVOLVED']= df['ONE_VEHICLE_INVOLVED']- df['TWO_VEHICLE_INVOLVED']
df['TWO_VEHICLE_INVOLVED']=df['TWO_VEHICLE_INVOLVED']-df['THREE_VEHICLE_INVOLVED']   
df['THREE_VEHICLE_INVOLVED']=df['THREE_VEHICLE_INVOLVED'] +df['FIVE_VEHICLE_INVOLVED']
df=df.drop('FOUR_VEHICLE_INVOLVED', axis=1)
df=df.drop('FIVE_VEHICLE_INVOLVED', axis=1)
print(df.head())  #showing output

               ONE_VEHICLE_INVOLVED  TWO_VEHICLE_INVOLVED  \
BOROUGH
BRONX                         45599                 36972
BROOKLYN                     104174                 86799
MANHATTAN                     82801                 69483
QUEENS                        89140                 76178
STATEN ISLAND                 13943                 11600

               THREE_VEHICLE_INVOLVED  FOUR_VEHICLE_INVOLVED  \
BOROUGH
BRONX                            2587                    625
BROOKLYN                         6592                   1612
MANHATTAN                        2525                    501
QUEENS                           5918                   1420
STATEN ISLAND                     924                    165

               FIVE_VEHICLE_INVOLVED
BOROUGH
BRONX                            173
BROOKLYN                         461
MANHATTAN                        129
QUEENS                           314
STATEN ISLAND                     32
               ONE_VEHICLE_INVOLVED  TWO_VEHICLE_INVOLVED  \
BOROUGH
BRONX                          8627                 34385
BROOKLYN                      17375                 80207
MANHATTAN                     13318                 66958
QUEENS                        12962                 70260
STATEN ISLAND                  2343                 10676

               THREE_VEHICLE_INVOLVED  MORE_VEHICLE_INVOLVED
BOROUGH
BRONX                            1962                    798
BROOKLYN                         4980                   2073
MANHATTAN                        2024                    630
QUEENS                           4498                   1734
STATEN ISLAND                     759                    197

In [54]:
df.to_csv("Q1P2.csv")  #saving ouput to csv