# Question1 Part1

- For each month in 2016, find out the percentage of collisions in Manhattan out of that year's total accidents in New   York City.

In [58]:
import pandas as pd
import datetime
import csv
import calendar

In [68]:
df = pd.read_csv("vehicle_collisions.csv")
df['DATE'] = pd.to_datetime(df['DATE'])
count_manhattan=[]
count_total=[]
percentage_count=[]

man_count=df[df['BOROUGH']== 'MANHATTAN'].groupby([df['DATE'].dt.month,df['DATE'].dt.year]).agg('count')
total_count=df.groupby([df['DATE'].dt.month,df['DATE'].dt.year]).agg('count')
    
count_manhattan=man_count['UNIQUE KEY'].values
count_total=total_count['UNIQUE KEY'].values

i=1
j=0
man_len=len(count_manhattan)
total_len=len(total_count)

print(man_count['UNIQUE KEY'])
print(total_count['UNIQUE KEY'])

with open('Q1P1.csv', 'w') as outcsv:
    writer = csv.writer(outcsv)
    writer.writerow(["MONTH", "MANHATTAN", "NYC", "PERCENTAGE"])
    while i<man_len and  j< 12:
        print(count_manhattan[i])
        writer.writerow([calendar.month_name[j],count_manhattan[i],count_total[i],count_manhattan[i]/count_total[i]])
        if j==0 or j==1:
            i+=3
        else :
            i+=2
            
        j+=1
    
outcsv.close()

DATE  DATE
1     2015    2875
      2016    3178
      2017    2295
2     2015    2670
      2016    3195
      2017    2084
3     2015    3396
      2016    3479
4     2015    3521
      2016    3540
5     2015    3879
      2016    3432
6     2015    3728
      2016    2956
7     2015    3842
      2016    3055
8     2015    3707
      2016    2844
9     2015    3639
      2016    2744
10    2015    4023
      2016    2831
11    2015    3545
      2016    2838
12    2015    3672
      2016    2634
Name: UNIQUE KEY, dtype: int64
DATE  DATE
1     2015    16120
      2016    18101
      2017    17243
2     2015    15712
      2016    15985
      2017    15345
3     2015    17939
      2016    18471
4     2015    16781
      2016    18331
5     2015    19257
      2016    20052
6     2015    18798
      2016    19433
7     2015    18752
      2016    19867
8     2015    18970
      2016    19678
9     2015    18503
      2016    19492
10    2015    19838
      2016    19666
11    2015    18014
      2016    19315
12    2015    18855
      2016    19214
Name: UNIQUE KEY, dtype: int64
3178
3195
3479
3540
3432
2956
3055
2844
2744
2831
2838
2634