# Question1 Part1

- For each month in 2016, find out the percentage of collisions in Manhattan out of that year's total accidents in New   York City.

In [2]:
import pandas as pd
import datetime
import csv
import calendar

In [3]:
df = pd.read_csv("vehicle_collisions.csv") #Read the csv dataset
df['DATE'] = pd.to_datetime(df['DATE']) #changing the date to date type
count_manhattan=[]                      #Initializing the list to add data
count_total=[]
percentage_count=[]

#group by month and putting conidion to get count of collision in Manhattan
man_count=df[df['BOROUGH']== 'MANHATTAN'].groupby([df['DATE'].dt.month,df['DATE'].dt.year]).agg('count') 
#group by month to get total count of collisions
total_count=df.groupby([df['DATE'].dt.month,df['DATE'].dt.year]).agg('count')
    
count_manhattan=man_count['UNIQUE KEY'].values
count_total=total_count['UNIQUE KEY'].values

#Displaying few rows of output
print(man_count.head(5))
print(total_count.head(5))

i=1
j=1
man_len=len(count_manhattan)
total_len=len(total_count)

#Putting the count,total count with month in a csv file
with open('Q1P1.csv', 'w') as outcsv:
    writer = csv.writer(outcsv)
    writer.writerow(["MONTH", "MANHATTAN", "NYC", "PERCENTAGE"])
    while i<man_len and  j< 13:
        print(count_manhattan[i])
        writer.writerow([calendar.month_name[j],count_manhattan[i],count_total[i],count_manhattan[i]/count_total[i]])
        if j==1 or j==2:
            i+=3
        else :
            i+=2
            
        j+=1
    
outcsv.close()

           UNIQUE KEY  DATE  TIME  BOROUGH  ZIP CODE  LATITUDE  LONGITUDE  \
DATE DATE
1    2015        2875  2875  2875     2875      2875      2875       2875
     2016        3178  3178  3178     3178      3178      3177       3177
     2017        2295  2295  2295     2295      2295      2219       2219
2    2015        2670  2670  2670     2670      2670      2670       2670
     2016        3195  3195  3195     3195      3195      3194       3194

           LOCATION  ON STREET NAME  CROSS STREET NAME        ...         \
DATE DATE                                                     ...
1    2015      2875            2851               2851        ...
     2016      3177            3140               3140        ...
     2017      2219            1511               1511        ...
2    2015      2670            2645               2645        ...
     2016      3194            3167               3167        ...

           VEHICLE 1 TYPE  VEHICLE 2 TYPE  VEHICLE 3 TYPE  VEHICLE 4 TYPE  \
DATE DATE
1    2015            2871            2542             100              14
     2016            3177            2823             107              19
     2017            2200            1412              65              23
2    2015            2669            2371              80               6
     2016            3195            2830              90              18

           VEHICLE 5 TYPE  VEHICLE 1 FACTOR  VEHICLE 2 FACTOR  \
DATE DATE
1    2015               2              2858              2455
     2016               5              3153              2712
     2017               4              2276              1799
2    2015               2              2662              2290
     2016               7              3168              2701

           VEHICLE 3 FACTOR  VEHICLE 4 FACTOR  VEHICLE 5 FACTOR
DATE DATE
1    2015               102                14                 2
     2016               107                20                 5
     2017                79                30                 6
2    2015                79                 6                 2
     2016                91                18                 6

[5 rows x 29 columns]
           UNIQUE KEY   DATE   TIME  BOROUGH  ZIP CODE  LATITUDE  LONGITUDE  \
DATE DATE
1    2015       16120  16120  16120    12411     12410     13713      13713
     2016       18101  18101  18101    13954     13953     15398      15398
     2017       17243  17243  17243    10876     10874     13891      13891
2    2015       15712  15712  15712    10919     10917     12222      12222
     2016       15985  15985  15985    12173     12173     13560      13560

           LOCATION  ON STREET NAME  CROSS STREET NAME        ...         \
DATE DATE                                                     ...
1    2015     13713           13932              13932        ...
     2016     15398           15506              15467        ...
     2017     13891           11559               8768        ...
2    2015     12222           13530              13530        ...
     2016     13560           13547              13534        ...

           VEHICLE 1 TYPE  VEHICLE 2 TYPE  VEHICLE 3 TYPE  VEHICLE 4 TYPE  \
DATE DATE
1    2015           16114           14077            1134             251
     2016           18094           16051            1071             229
     2017           16730           11337            1039             297
2    2015           15709           14070             965             213
     2016           15983           14090             956             206

           VEHICLE 5 TYPE  VEHICLE 1 FACTOR  VEHICLE 2 FACTOR  \
DATE DATE
1    2015              63             16078             13903
     2016              72             18026             15756
     2017              71             17130             13782
2    2015              46             15668             13802
     2016              64             15922             13818

           VEHICLE 3 FACTOR  VEHICLE 4 FACTOR  VEHICLE 5 FACTOR
DATE DATE
1    2015              1152               257                63
     2016              1068               235                70
     2017              1189               345                81
2    2015               971               211                46
     2016               962               207                64

[5 rows x 29 columns]
3178
3195
3479
3540
3432
2956
3055
2844
2744
2831
2838
2634